.example-container {
    height: 300px;
    overflow: auto;
  }
  
  table {
    width: 80%;
    border: 2pt;
  }
  th{
      font-weight: bold;
      font-size: 15px;
      background-color: crimson;
      color: aliceblue;
  }