<form class="create-form" [formGroup]="_form" novalidate (ngSubmit)="onSubmit(_form.value)">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>Add Customer</strong>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field>
            <input matInput placeholder="Name" class="form-control" formControlName="name">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Age" class="form-control" formControlName="age">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Email" class="form-control" formControlName="email">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Phone" class="form-control" formControlName="phone">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Address" class="form-control" formControlName="address">
        </mat-form-field>

        <div class="row submit-button-container">
            <div class="col-md-4">
                <button mat-raised-button class="submit-button" color="primary" type="submit"
                    [disabled]="!_form.valid">Create</button>
            </div>
        </div>
    </mat-expansion-panel>
</form>